h1 {
    margin-left: 1vw;
}

form {
    display: inline-block;
    width: 40vw;
    height: 55vh;
    padding: 10px;
    border: 5px solid gray;
    color: rgba(7, 7, 182, 0.808);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 6vw;
    margin-top: 2vh;
}

.form-group label {
    margin-bottom: 1%;
}

#submitbutton {
    position: relative;
    margin-top: 5vh;
    margin-left: 2vw;
    margin-right: 3vw;
    width: 82.5%;
}