.boxing {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vh;
    width: 95%;
    height: auto;
    padding: 10px;
    border: 3px solid black;
    color: rgba(0, 0, 0, 0.966);
    background-color: aliceblue;
}

h1,
.alert {
    margin-left: 5vh;
    max-width: 50%;
}

.table-wrap {
    word-wrap: break-word;
}

button.req {
    position: relative;
    margin-right: 3vh;
}

div.res {
    display: inline-flex;
}